
.DS_Store
s_a/.DS_Store
s_a/homepage/.DS_Store
s_a/homepage/__pycache__/urls.cpython-36.pyc
s_a/homepage/templates/homepage/record-live-audio.js
s_a/homepage/__pycache__/views.cpython-36.pyc
s_a/homepage/urls.py
s_a/homepage/views.py
s_a/s_a/.DS_Store
s_a/s_a/settings.py
s_a/s_a/__pycache__/settings.cpython-36.pyc
Django Webapp/mysite/webapp/keys.txt
Django Webapp/mysite/test_audio.wav
Django-SpeechCapture/webapp/keys.txt
Django-SpeechCapture/test_audio.wav
*.wav
TranscribePrototype.py
TranscribePrototype_Alternative.py
Django-SpeechCapture/requirements_full.txt
Django-SpeechCapture/requirements_good.txt
Django-SpeechCapture/requirements_backup.txt
Django-SpeechCapture/BrokenStuff.txt
Django-SpeechCapture/To-do.txt
Django-SpeechCapture/test_audio_2018-11-30T14-46-90Analysis.json
Django-SpeechCapture/test_audio_2018-11-28T15-39-59Analysis.json
