{% extends "webapp/header.html" %}

{% block transcript %}
	<div class="d-flex justify-content-center">
		<div class="btn-group btn-group-toggle" data-toggle="buttons">
			<label class="btn btn-primary active" id="summary">
				<input type="radio" checked> Summary
			</label>
			<label class="btn btn-primary" id="questions">
				<input type="radio"> Questions & Answers
			</label>
			<label class="btn btn-primary" id="useCases">
				<input type="radio"> Use Cases
			</label>
		</div>
	</div>

    <div class="card" id="summaryCont">
        <div class="container scroll">
            <div class="card-body">
                {{data.OverallSummary}}
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <a class="btn btn-info" id="saveButtonSummary">Download</a>
        </div>
    </div>
    <div class="card" id="questionCont">
        <div class="container scroll">
            <div class="card-body">
                {% for key,value in data.Questions.items %}
                    <b>Question:</b> {{value.Question}}
                    <br/>
                    <b>Answer:</b> {{value.Answer}}
                    <div class="container-fluid">
                        <a class="btn btn-info" data-toggle="collapse" data-target="#questions{{value.Index}}">Metadata</a>
                        <div class="collapse" id="questions{{value.Index}}">
                            <div class="card card-body">
                                <b>Keywords:</b> {{value.Keywords}}
                                <br/>
                                <b>Entities:</b>
                                {% for key2,value2 in value.Entities.items %}
                                    {{key2}},
                                {% endfor %}
                                <b>Sentiment:</b>
                                Positive: {{value.Sentiment.positive}}
                                <br/>
                                Negative: {{value.Sentiment.negative}}
                                <br/>
                                Mixed: {{value.Sentiment.mixed}}
                                <br/>
                                Neutral: {{value.Sentiment.neutral}}
                            </div>
                        </div>
                    </div>
                    <br/>
                    <br/>
                {% endfor %}
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <a class="btn btn-info" id="saveButtonQuestions">Download</a>
        </div>
    </div>
    <div class="card" id="useCaseCont">
        <div class="container scroll">
            <div class="card-body">
                {% for key2,value2 in data.UseCases.items %}
                    <b>Name:</b> {{value2.Name}}
                    <br/>
                    <b>ID:</b> {{value2.ID}}
                    <br/>
                    <b>Description:</b> {{value2.Trigger}}
                    <br/>
                    <b>Preconditions:</b> {{value2.Preconditions}}
                    <br/>
                    <b>Post-conditions:</b> {{value2.Postconditions}}
                    <br/>
                    <b>Actors:</b> {{value2.Actors}}
                    <br/>
                    <b>Normal Flow:</b> {{value2.NormalFlow}}
                    <br/>
                    <b>Alternative Flows:</b> {{value2.AlternativeFlow}}
                    <br/>
                {% endfor %}
            </div>
        </div>>
        <div class="d-flex justify-content-center">
            <a class="btn btn-info" id="saveButtonUseCase">Download</a>
        </div>
    </div>

{% endblock %}