{% extends "webapp/header.html" %}

{% block record %}
	<div class = "container topElement">
	
		<div class="row">
			<div class="col text-center">
				<canvas class="visualizer" height="250"></canvas>
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
				
				<button id="recordButton" type="button" class="btn btn-secondary">Record</button>
				<button id="pauseButton" type="button" class="btn btn-secondary" disabled>Pause</button>
				<button id="stopButton" type="button" class="btn btn-secondary" disabled>Stop</button>
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
				<button id="gotoTranscribeButton" type="button" class="btn btn-secondary">Transcribe Audio</button>
			</div>
		</div>
		
		<div id="formats">Format: start recording to see sample rate</div>
		<h3>Recordings</h3>
		<ol id="recordingsList"></ol>
		
	</div>
{% endblock %}